*.csv -text whitespace=blank-at-eol,blank-at-eof,space-before-tab,cr-at-eol
*.png binary
*.docx binary
*.SLDPRT binary
*.STEP -text
*.m text eol=lf
*.md text eol=lf
*.json text eol=lf
*.pmks text eol=lf
*.url text eol=crlf
